.card-inside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
    width: 50%;
}

.temps{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:15px;
}